<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Plugin Tester</title>
<link th:href="@{/css/style.css}" th:rel="stylesheet" />
</head>
<body>

	<h2 style="text-align: center">Product Detail</h2>

	<div class="card">
		<form method="post" action="#" th:action="@{/buy-product}"
			th:object="${product}">
			<img th:src="@{/images/pen.jpg}" alt="Exclusive pen"
				style="width: 100%" />
			<h1>Nice Pen</h1>
			<p class="price" style="color: red;">&#2547;1</p>
			
			<input id="productName" type="hidden" value="Nice_Pen" th:field="*{productName}"> 
			<input id="productPrice" type="hidden" value="1" th:field="*{productPrice}">

			<p>This pen has exclusive features.</p>

			<p>
				<button type="submit" style="background-color: green;">Buy</button>
			</p>
		</form>
	</div>

</body>
</html>
